<template name="App_body">
  <div class="container-fuild page">
    <div class="left-bar no-padding">
      <div class="logo">
        <img src="/img/logo.png" alt="Google logo" />
      </div>
      {{> Template.dynamic template=leftBar}}
    </div>
    <div class="col-lg-7 middle-content no-padding">
      <div class="search-bar col-sm-12 no-padding">
        <i class="icon glyphicon glyphicon-search"></i>
        <input type="text" id="search-input" placeholder="Panthera leo">
      </div>
      {{> Template.dynamic template=main}}
    </div>
    <div class="col-lg-5 no-padding">
      <div class="actions-bar col-sm-12 no-padding">
        <div class="float-right googleplus action">
          <i class="glyphicon glyphicon-plus-sign"></i>
        </div>
        <div class="float-right apps action">
          <i class="glyphicon glyphicon-option-vertical"></i>
        </div>
        <div class="float-right email">
          <div class="badge">3</div>
          <div class="account">kendrick.lamar@gmail.com</div>
          <i class="glyphicon glyphicon-chevron-down"></i>
        </div>
      </div>
      {{> Template.dynamic template=rightBar}}
    </div>
  </div>

</template>
